<!--
    Author: Ryan Pinkney
    This page displays all the record we have in the movies database in the responses table



-->


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <!-- Set the tab title-->
    ViewData["Title"] = "MovieList";

}

<!--Retrieves the list from the controller-->
@model List<Movie>
<!--Table to show all the applicants-->


<!--Display to display the records formatted with Bootstrap-->
<table class="table table-bordered table-striped">

    <thread class="font-weight-bold">

        <!--Columns-->
        <tr>
            <td>Title:</td>
            <td>Year:</td>
            <td>Director:</td>
            <td>Category:</td>
            <td>Rating:</td>
            <td>Was the movie edited?</td>
            <td>Lent to:</td>
            <td>Notes:</td>
        </tr>

    </thread>

    <tbody>

        <!--Rows-->
        @foreach (var iCount in Model)
        {<!-- Model needs to be capitalized-->

        <tr>
            <td>@iCount.sTitle</td>
            <td>@iCount.sYear</td>
            <td>@iCount.sDirector</td>
            <td>@iCount.Category.sCategory_name</td>
            <td>@iCount.sRating</td>
            <td>@iCount.sIsEdited</td>
            <td>@iCount.sLentToName</td>
            <td>@iCount.sNotes</td>

            <!--Buttons to delete and edit that pass the id as a parameter in the url-->
            <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@iCount.movie_id">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@iCount.movie_id">Delete</a></td>
        </tr>

        }



    </tbody>


</table>